
@{
    ViewBag.Title = "Index";
}

<h2>Hier mag alles met meer stil zijn ze</h2>

<p>
    @Html.ActionLink("Klik om naar de indexpagina van de Publiek-area te gaan",
"Index", new { area = "Publiek" })
</p>