
@{
    ViewBag.Title = "Index";
}

<h2>Index van de publieke area, dit is dus een heel sociale plek</h2>

<p>
    @Html.ActionLink("Klik om naar de indexpagina van de Prive-area te gaan",
"Index", new { area = "Prive" })
</p>

